$color-dark-blue: hsl(233, 47%, 7%);
$color-dark-desaturated-blue: hsl(244, 38%, 16%);
$color-soft-violet: hsl(277, 64%, 61%);

$color-white: hsl(0, 0%, 100%);
$color-white-light: hsla(0, 0%, 100%, 0.75);
$color-white-lighter: hsla(0, 0%, 100%, 0.6);

$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Lexend Deca', sans-serif;
$font-family-headings: 'Inter', sans-serif;

$font-size-primary: 15px;

$font-weight-400: 400;
$font-weight-700: 700;
