@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.btn {
	display: inline-flex;
	border: 1px solid transparent;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.4s;
}

.btn--link {
	color: var.$color-white-light;
}
